/* Vista inicial*/
nav {
  top: 0;
  margin-top: 0;
  padding-top: 0px;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 800;
  color: #ffffff;
  position: fixed;
  background: none;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  background-color: #616161;
}

.logo {
  position: absolute;
  z-index: 1000;
  left: 15px;
  top: -4px;
  width: 70px;
  height: 74px;
  padding: 0.4% 3%;
  text-align: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/laboratoria.svg);
}

.open .logo, nav.solid #logo .logo {
  background-image: url(./img/laboratoria.svg);
}

.logo img{
  z-index: 1000;
}

/*menu hamburguesa*/
.menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  height: 4px;
  width: 24px;
  text-align: right;
  margin: 2rem;
  background: #f7b617;
  transition: all 0.3s;
}

.menu::before, .menu::after {
  position: absolute;
  z-index: -1; /* para que se ubique detras */
  content: '';
  height: 4px;
  width: 24px;
  display: block;
  background: #f7b617;
  transition: all 0.3s;
}

.menu::before {
  top: -8px;
}

.menu::after {
  top: 8px;
}

/* para que se note que se agranda el toggle*/
#toggle:hover{
  transition: top 0.4s;
}

#toggle:hover:before {
  top: -9px;
}

#toggle:hover:after {
  top: 9px;
}

/* transicion de menu a X */
.open .menu {
  background: none !important;
}

.open .menu::after {
  top: 0 !important;
  background: #ffffff !important;
  transform: rotate(45deg);
}

.open .menu::before {
  top: 0 !important;
  background: #ffffff !important;
  transform: rotate(-45deg);
}

/* estilos nav-background */
nav .nav-background {
  top: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  position: absolute;
  background: none;
  display: table;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

nav.open .nav-background {
  opacity: 1;
  background-color: rgba(247, 182, 23, 0.81) !important;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

nav.open {
  height: 100%;
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

/*Navigation list*/
nav ul {
  top: -10%;
  padding: 0;
  opacity: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  transform: perspective(600px) rotateX(10deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}
nav ul li{
  visibility: hidden;
}
nav ul li a{
  color: #ffffff;
  width: 100%;
  display: block;
  padding: 8px 0 0;
  letter-spacing: -0.06em;
}
nav ul li a:hover{
  color: #f7b617;
  background-color: #ffffff;
}
nav.open ul {
  top: 0;
  opacity: 1;
  margin-top: 0;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg);
}
nav.open ul li {
  color: #ffffff;
  font-size: 60px;
  visibility: visible !important;
}

/*Javascript style toggle for menu appear and desappear style background*/
.solid #toggle .menu {
  background: #fff;
}
.solid #toggle .menu:after{
  background-color: #fff;
}
.solid #toggle .menu:before{
  background-color: #fff;
}

/*Javascript style toggle for menu appear and desappear*/
.header-in{
  background-color: rgba(247, 182, 23, 0.81);
}


/*imagenes*/

section {
  padding-top: 50px;
}

h2 {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

.div-box {
  width: 350px;
  height: 350px;
  display: inline-block;
}

.image-coder {
  height: 100%;
}

.figure-coder {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: -4px;
  text-align: center;
  overflow: hidden;
}

.figure-coder .name-coder, .figure-coder {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.figure-coder .name-coder{
  position: absolute;
}

.figure-coder p.nombre {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.figure-hov .name-coder {
   opacity: 0;
   background-color: rgba(247, 182, 23, 0.81);
}

.figure-hov:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}

.figure-hov p.nombre {
   filter: alpha(opacity=0);
   opacity: 0;
}

.figure-hov:hover .name-coder {
   opacity: 1;
}

.figure-hov:hover p.nombre {
   opacity: 1;
   -webkit-transform: translateY(-20px);
   -moz-transform: translateY(-20px);
   -o-transform: translateY(-20px);
   -ms-transform: translateY(-20px);
   transform: translateY(-20px);
}
